<form *ngIf="user">
  <div class="form-row">

    <div class="col-md-5">
      <input type="text" name="userName" id="userName" [(ngModel)]="user.userName" placeholder="Username" class="form-control">
    </div>
    <div class="col-md-5">
      <input type="text" name="firstName" id="firstName" [(ngModel)]="user.firstName" placeholder="First name" class="form-control">
    </div>
    <div class="col-md-5">
      <input type="text" name="lastName" id="lastName" [(ngModel)]="user.lastName" placeholder="Last name" class="form-control">
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary" (click)="updateUser()">Actualizar</button>
    </div>
    <div class="col-md-2">
      <button type="submit" class="btn btn-primary" (click)="deleteUser()">Eliminar</button>
    </div>
  </div>
</form>